html{
	height:100%;
	width:100%;

}

body{
	font-family: 'Quicksand', sans-serif;
	background-color: #F7F7F7;
	height:100%;
	width:100%;
	
	background: url('https://raw.githubusercontent.com/TIY-Austin-Front-End-Engineering/jquery-login/master/bg-login-top.png') repeat ;

}
.carousel-control.left, .carousel-control.right{
	background-image: none;
	height: 100px;
	top:400px;
	width: 10%;
	
}


.right.carousel-control, .left.carousel-control{
	display: none
}

.row{

	margin-right: 0;
	margin-left: 0;
}
.icon-row{
	/*border: 1px solid white;*/
	background-color: #21161F;
	/*background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#21161F;*/
	background-image: url('https://dl.dropboxusercontent.com/u/53297391/wood.png');
/*background-size:16px 16px;*/
	position: fixed;
	bottom:0;
	/*height: 50px;*/
	box-shadow: 0px 0px 5px gray;
	width: 100%;
	/*padding-bottom: 25px;*/
	/*padding-top: 3px;*/
	box-sizing: border-box;




	/*height: 75px;*/
}

.imgHolder, #imgHolder{
	width: 100%;
	background-image: url('https://img.grouponcdn.com/deal/hHwi69ShuzVgx2F9aEzs/Zd-2048x1229/v1/c700x420.jpg');
	background-size: cover;
	height: 100px;
	/*max-width: 33%;*/
	border-radius: 5px;
	margin-bottom: 20px;
	float: left;
	/*border: 1px solid green;*/

}

#mapHolder, #mapHolder2{
	height: 100px;
	/*max-width: 33%;*/
	border-radius: 5px;
	margin-bottom: 20px;
	background-size: cover;
	float: left;
	width: 100%;
}


.imgHolder2, #imgHolder2{
	width: 100%;
	background-image: url('http://wallpaperswa.com/thumbnails/detail/20120914/beers%20alcohol%20drinks%201620x1080%20wallpaper_wallpaperswa.com_20.jpg');
	background-size: cover;
	height: 100px;
	/*max-width: 33%;*/
	border-radius: 5px;
	margin-bottom: 20px;
	float: left;
	/*border: 1px solid green;*/

}

.imgHolder img{
	height: 200px;
	width: 100%;
}

.mapStyle{
	display: none;
}

.rest-name{
	color: #CB2A18;
	/*float: left;*/
	margin-top: 20px;
	font-size: 23px;
	font-family: 'Leckerli One', cursive;
	/*display: block;*/

}
.name-holder{
	overflow: hidden;
}


.place{
	clear: both;

}

.textHolder{
	width: 100%;
	
	/*margin: 20px auto 20px auto;*/
	font-size: 1.6rem;
	padding: 0px 20px 0px 20px;
	float: left;
	min-height: 300px;
	background-color: #F0EDCA;
	color: #21161F;

	border-radius: 5px;
	box-sizing: border-box;
	/*border: 1px solid red;*/

}


.carouselItem {
	overflow: hidden;
	margin: 0 auto;
	border: 1px solid #eeeeee;
	margin:50px 2px 50px 2px;
	padding: 20px;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px #C0C0C0;
	min-height: 1px;
	/*max-width: 1100px;*/
	box-sizing: border-box;
	/*width: 100%;*/
}

.row-color{
	/*background-color: #F7F7F7;*/
	/*background: url('https://raw.githubusercontent.com/TIY-Austin-Front-End-Engineering/jquery-login/master/bg-login-top.png') repeat ;*/
/*	position: absolute:
	top:0;
	bottom: 0;
	left: 0;
	right: 0;*/
}



.carousel-indicators{
	display: none;
}
.carousel-indicators, .carousel-caption  {
 display: none;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	height: 250px;

}

.carousel-inner{
	/*margin-bottom: 75px;*/
	margin: 45px auto auto auto;
	/*width: 95%;*/

}

#container{
	/*padding-left: 20px;*/
}

.header{
	background-color: #940A0A;
	color: white;
	/*background-image: url('http://wallpaperswa.com/thumbnails/detail/20120914/beers%20alcohol%20drinks%201620x1080%20wallpaper_wallpaperswa.com_20.jpg');
	background-size: cover;*/
	height: 50px;
	background:

	radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
	radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
	radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
	radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
	radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
	radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
	radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
	radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
	linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
	linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
	background-color: #940A0A; 
	background-size: 100px 100px;
	box-shadow: 0px 0px 5px gray;
	position: fixed;
	top: 0;
	width:100%;
	z-index: 1;


/*background-color: rgba(128,0,0,1);
  background-image:
    linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 49%, rgba(255,0,0,0.5) 49%, rgba(255,0,0,0.5) 51%, rgba(0,0,0,0) 51%, rgba(0,0,0,0) 100%),
    linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 49%, rgba(255,0,0,0.5) 49%, rgba(255,0,0,0.5) 51%, rgba(0,0,0,0) 51%, rgba(0,0,0,0) 100%),
    linear-gradient(45deg, rgba(64,0,0,1) 0%, rgba(64,0,0,1) 25%, rgba(128,0,0,0) 25%, rgba(128,0,0,0) 75%, rgba(64,0,0,1) 75%, rgba(64,0,0,1) 100%),
    linear-gradient(-45deg, rgba(64,0,0,1) 0%, rgba(64,0,0,1) 25%, rgba(128,0,0,0) 25%, rgba(128,0,0,0) 75%, rgba(64,0,0,1) 75%, rgba(64,0,0,1) 100%);
  background-size: 100px 100px;*/


/*background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );*/


	/*height: 100px;*/
}

.header >h1{
	font-family: 'Leckerli One', cursive;
	font-size: 30px;
	/*margin-left: 50px;*/
	margin: 7px auto auto auto;
	padding-top: 0px;
	text-align: center;
	/*float:left;*/
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

}

.user{
	font-size: 20px;
	display: block;
	float: right;
	padding-top: 40px;
	padding-right: 20px;
}

.logo{
	height:60px;
}

.favorite{
	cursor: pointer;
	color: white;
}

.circle{

}

.fa-hand-o-left, .fa-circle-thin, .fa-street-view, .fa-glass, .fa-hand-o-right, .fa-heart-o, .fa-trash-o, .fa-list-alt, .fa-thumbs-o-up  {
	color: #6e4b10;
	/*margin-left: 35%;*/
	width: 42px;
	display: block;
	
	/*margin: 10px auto 10px auto;*/

	
}

.fa-stack {
	display: block;
	margin: 0 auto;
	opacity: .6;
	/*width: 20px;*/

}

.street{
	display: none;
}

.fa-hand-o-right, .fa-list-alt, .fa-street-view, .fa-glass, .fa-hand-o-left{
	margin-left: 4px;


}

.fa-heart{
	color: #CB2A18;
	/*margin-top: 15px;*/
	float: right;
	display: none;
	/*display: none;*/
/*	position: relative;
	z-index: 1;
	top:50px;*/
	/*width: 20px;*/
}
.mob-btn{
	/*border-right: 1px solid white; 
	border-left: 1px solid white; */
	width: 33%;
	/*margin: 0 auto;*/
	cursor: pointer;
	float: left;
} 

.mob-btn:hover{
	background-color: #67C8C8;
}

.slider{
	height: 100px;
	width: 100%;
	background-color: #F5C983;
	display: none;


}

.list-holder{
	margin-top: 75px;
}

.info-wrapper{
	width: 100%;
	max-width: 900px;
	margin: 20px auto 20px auto;
	border-radius: 5px;
	height: 150px;
}

.col-sm-2{
	min-height: 0;
}

.mini-holder{
	
	width: 100%;
	max-width: 880px;
	background-color: white;
	padding: 10px;
	margin: 0 auto;
	border-radius: 5px;
	overflow: hidden;
	box-sizing:border-box;
	margin-bottom: 20px;
	box-shadow: 0px 0px 10px #C0C0C0;
}

.mini-image,.mini-image2, .mini-image3, .mini-image4, .mini-image5, .mini-image6, .mini-image7, .mini-image8, .mini-image9, .mini-image10{
	width:100%;
	/*max-width: 309px;*/
	background-image: url('https://img.grouponcdn.com/deal/hHwi69ShuzVgx2F9aEzs/Zd-2048x1229/v1/c700x420.jpg');
	background-size: cover;
	min-height: 100px;

	/*border-radius: 5px;*/
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	float: left;
	margin-right: 2%;
}

.mini-image2{
	background-image: url('http://www.betcheslovethis.com/files/uploads/images/seductivewhiskey1.jpg');

}

.mini-image3{
	background-image: url('http://winewitandwisdomswe.com/wp-content/uploads/2014/04/Red-Wine-Bottles.jpg');

}
.mini-image4{
		background-image: url('http://wallpaperswa.com/thumbnails/detail/20120914/beers%20alcohol%20drinks%201620x1080%20wallpaper_wallpaperswa.com_20.jpg');
}

.mini-image5{
	background-image: url('http://www.slate.com/content/dam/slate/articles/life/drink/2013/07/130802_DRINK_HealthyCocktail.jpg.CROP.original-original.jpg');
}

.mini-image6{
		background-image: url('http://www-tc.pbs.org/food/wp-content/blogs.dir/2/files/2012/11/rosemary-orange-cocktail-600x400.jpg');
}
.mini-image7{
		background-image: url('http://nycityeats.com/wordpress/wp-content/uploads/2011/05/cocktailsProv.jpg');
}
.mini-image8{
	background-image: url('http://www.croatiaweek.com/wp-content/uploads/2014/12/Wine.jpg');
}
.mini-image9{
	background-image: url('http://www.bearsplacebar.com/wp-content/uploads/2014/04/Pint.jpg');
}
.mini-image10{
	background-image: url('http://www.bygburgersnbrew.com/wp-content/uploads/2014/12/GTY_craft_beers_nt_130830_16x9_992.jpg');
}

.mini-text{
	width: 100%;
	/*min-height: 150px;*/
	/*margin: 20px auto 20px auto;*/
	font-size: 1.2rem;
	padding: 0px 20px 0px 20px;
	float: left;
	/*min-height: 300px;*/
	background-color: #F0EDCA;
	color: #21161F;
	/*border-radius: 5px;*/
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-sizing: border-box;
}

.mini-slide{
	padding: 0 20px 0 20px;

}

.mini-rest{
	margin-top: 10px;
	font-size: 2rem;
	font-family: 'Leckerli One', cursive;
	color: #CB2A18;
}

.mini-details{
		font-size: 1.5rem;
		margin-bottom: 10px;
}

.details{
	margin-bottom: 10px;
}
.address, .phone {
	margin-top: 3px;
	font-size: 1.4rem;
}

.url{
	margin-top: 10px;
	font-size: 1.3rem;
}
.col-sm-12{
/*	padding-left: 0;
	padding-right: 0;*/
}

@media (min-width: 700px) {
	.imgHolder, .imgHolder2, #mapHolder, #mapHolder2{
		max-width: 35%;
		margin-right: 3%;
		margin-bottom: 0;
		height: 300px;
	}
	.textHolder{
		max-width: 62%;
		font-size: 1.9rem;
		padding: 0px 40px 0px 40px;
	}

	.mob-btn{
		/*float:left;*/
		width: 25%;
	}
	.fa-stack{

		/*float:right;*/
	}
	.header{
		height: 100px;
	}
	.header>h1{
		font-size: 50px;
		margin-top: 20px;
		margin-left: 20px;
	}
	.rest-name{
		font-size: 35px;

		/*float:left;*/
	}
	.icon-row{
		/*height: 60px;	*/
	}
	.street{
		display: block;
	}
	.carousel-inner{
		width: 100%;
		margin-top: 100px;
	}
	.details{
		margin-bottom: 10px;
	}
	.address, .phone {
		margin-top: 3px;
		font-size: 1.8rem;
	}

	.url{
		margin-top: 10px;
		font-size: 1.8rem;
	}
	.list-holder{
		margin-top: 125px;
	}
	.mini-image, .mini-image2, .mini-image3, .mini-image4, .mini-image5, .mini-image6, .mini-image7, .mini-image8, .mini-image9, .mini-image10{
		width:35%;
		max-width: 309px;
		min-height: 150px;
		border-radius: 5px;

	}
	.mini-text{
		width: 63%;
		min-height: 150px;
		border-radius: 5px;
	}

}